@ -0,0 +1,157 @@
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Bitter:ital,wght@0,100..900;1,100..900&family=Chicle&family=Dongle&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lexend+Exa&family=Mandali&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=SUSE:wght@100..800&display=swap"
    rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://cdn-icons-png.flaticon.com/512/3843/3843010.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Uses AI to predict whether a user has heart disease based off of user's medical data, using various ML models."
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Heart Disease Predictor</title>
  </head>


  <body id = "enterDataBody">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="./enterData">Predict</a></li>
        <li><a href="./medicalTerms">Medical Terms</a></li>
      </ul>
    </nav>


  <div id="wrapper">
  <main>
  
    <form action="/submitted" method="POST" id="healthForm">

      <h1 id="healthDataTitle">Enter Health Data</h1>
      <p>
        After accessing your medical information from your doctor, or having your doctor assist you, input data for each of the following fields below. 
        Please make sure that you input data accurately and completely for every field, or else the prediction model will not work accurately! For reference
        on what each of these fields mean, please click <a href="./medicalTerms" id="popupLink">here</a>. 
      </p>

      
      
        <div class="pair">
          <div class="idContainer">
            <label for="Age">Age</label>
            <input type="text" id="Age" name="Age" required />
          </div>

          <div class="idContainer">
            <label for="Sex">Sex</label>
            <select id="sex" name="sex" required>
              <option value="" disabled selected></option>
              <option value="1" >Male</option>
              <option value="0">Female</option>
            </select>
          </div>
          <div class="idContainer">
            <label for="chest pain">Chest Pain</label>
            <select id="chest_pain" name="chest_pain" required>
              <option value="" disable selected></option>
              <option value="0" >Low</option>
              <option value="1" >Moderate</option>
              <option value="2" >High</option>
              <option value="3" >Very High</option>
            </select>
          </div>
        </div>

        <div class="pair">
          <div class="idContainer">
            <label for="resting blood pressure">Resting Blood Pressure</label>
            <input type="text" id="resting_blood_pressure" name="resting_blood_pressure" required />
          </div>
          <div class="idContainer">
            <label for="cholesterol">Cholesterol</label>
            <input type="text" id="cholesterol" name="cholesterol" required />
          </div>
        </div>

        <div class = "pair">
          <div class="idContainer">
            <label for="fbs">Fasted Blood Sugar</label>
            <select id="fbs" name="fbs" required>
              <option value="" disable selected></option>
              <option value="1" >greater than 120 mg/dl</option>
              <option value="0" >less than 120 mg/dl</option>
            </select>
          </div>
        
          <div class="idContainer">
            <label for="restecg">Resting Electrocardiograph Results</label>
            <select id="restecg" name="restecg" required>
              <option value="" disable selected></option>
              <option value="0" >Normal (0)</option>
              <option value="1" >ST-T Wave Abnormality (1)</option>
              <option value="2" >Left Ventricular Abnormality (2)</option>
            </select>
          </div>
        </div>

        <div class = "pair">
          <div class="idContainer">
            <label for="thalatch">Max Heart Rate Achieved</label>
            <input type="text" id="thalatch" name="thalatch" required />
          </div>

          <div class="idContainer">
            <label for="exang">Exercise Induced Angina</label>
            <select id="exang" name="exang" required>
              <option value="" disable selected></option>
              <option value="0" >True</option>
              <option value="1" >False</option>
            </select>
          </div>

          <div class="idContainer">
            <label for="oldpeak">Oldpeak ECG Result</label>
            <input type="text" id="oldpeak" name="oldpeak" required />
          </div>
        </div>

        <div class="pair">
          <div class="idContainer">
            <label for="slope">Slope</label>
            <select id="slope" name="slope" required>
              <option value="" disable selected></option>
              <option value="0" >Upslope</option>
              <option value="1" >Horizontal</option>
              <option value="2" >Downslope</option>
            </select>
          </div>

          <div class="idContainer">
            <label for="ca">Obstructed Blood Vessels</label>
            <select id="ca" name="ca" required>
              <option value="" disable selected></option>
              <option value="0" >No major colored vessels</option>
              <option value="1" >1 major colored vessel</option>
              <option value="2" >2 major colored vessels</option>
              <option value="3" >3 major colored vessels</option>
              <option value="4" >4 major colored vessels</option>
            </select>
          </div>

          <div class="idContainer">
            <label for="thal">Thalassemia</label>
            <select id="thal" name="thal" required>
              <option value="" disable selected></option>
              <option value="1" >Normal</option>
              <option value="2" >Fixed Defect</option>
              <option value="3" >Reversable defect</option>
            </select>
          </div>
        </div>
      
        <div id="submitbtn">
          <a href="./submitted">
            <button type="submit">Submit All</button>
          </a>
        </div>


    </form>
  </main>
</div>

      
       
      </main>

      <footer>
        Copyright © 2024 MWEHEHEHHEHEHEH <br />
        <a href="mailto:NAN"
          >No email link just yet!</a
        >
      </footer>
  </body>
</html>