<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Bitter:ital,wght@0,100..900;1,100..900&family=Chicle&family=Dongle&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lexend+Exa:wght@100..900&family=Mandali&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../static/heart.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Uses AI to predict whether a user has heart disease based off of user's medical data, using various ML models."
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Heart Disease Predictor</title>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="./enterData">Predict</a></li>
        <li><a href="./medicalTerms">Medical Terms</a></li>
      </ul>
    </nav>

    <div id="split">
      <div id="left">
        <header>
          <h1><a href="/">Heart Disease Predictor</a></h1>
        </header>
        <main id="home">
          <h2>Healthy Heart Hub</h2>
          <p>
            Heart Disease Predictor is an innovative platform that leverages the
            power of Artificial Intelligence to assess the likelihood of an
            individual developing heart disease. With a user-friendly interface,
            this website provides a quick and accurate analysis based on
            user-provided health data.
          </p>
          <p>
            Recognizing the importance of early detection, Heart Disease
            Predictor offers users valuable insights into their cardiovascular
            health and helps them take proactive steps to improve it. By
            analyzing critical metrics and patterns, our AI-powered model
            delivers personalized risk evaluations.
          </p>
          <ul>
            <li>AI-based predictions tailored to individual health metrics</li>
            <li>Easy-to-use interface for data input</li>
          </ul>
          <p>
            Start your journey to better heart health today with Heart Disease
            Predictor. Take control of your well-being with cutting-edge
            technology designed to empower and inform you.
          </p>
        </main>
      </div>
      <div id="right">
        <a href="./enterData"><button>See my Prediction</button></a>
      </div>
    </div>
    <footer>
      Copyright © 2024 MWEHEHEHHEHEHEH <br />
      <a href="mailto:NAN">No email link just yet!</a>
    </footer>
  </body>
</html>
